html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
}
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 870px;
  padding: 20px 15px;
  margin: 0 auto;
}
.page__subtitle {
  font-size: clamp(0.625rem, 0.511rem + 0.48vw, 0.875rem);
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2.5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.page__title {
  text-transform: uppercase;
  color: #caa945;
  font-size: clamp(2rem, 1.602rem + 1.7vw, 2.875rem);
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 50px;
}
.page__video {
  position: relative;
  border: 2px solid #caa945;
  width: clamp(20rem, 12.955rem + 35.23vw, 39.375rem);
  height: clamp(12.063rem, 7.972rem + 17.45vw, 21.063rem);
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
}
.page__video img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.page__video iframe {
  width: 100%;
  height: 100%;
}
.play-button {
  position: absolute;
  font-size: 26px;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
.page__video-text {
  display: block;
  width: clamp(15.938rem, 14.517rem + 6.06vw, 19.063rem);
  height: 45px;
  margin: 0 auto 130px;
  border: 1px solid #caa945;
  border-radius: 5px;
  background-color: #575757;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2.5px;
  padding-top: 11px;
}
.page__video-text img {
  animation: animate-decor 1s infinite linear;
}
.page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 90px;
}
.page__form-title {
  font-size: clamp(1.25rem, 0.511rem + 3.15vw, 2.875rem);
  color: #caa945;
  text-transform: uppercase;
  line-height: 130%;
}
.page__form-title span {
  color: #fff;
}
.page__form-subtitle {
  font-size: clamp(0.813rem, 0.67rem + 0.61vw, 1.125rem);
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 15px;
}
.page__form-input {
  display: block;
  max-width: 460px;
  width: 100%;
  height: 55px;
  margin: 0 auto;
  padding: 18px 21px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.page__form-btn {
  color: #fff;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  background: #caa945;
  width: 300px;
  height: 74px;
  font-weight: bold;
  transition: background 0.4s;
}
.page__form-btn:hover {
  background-color: #f2ca74;
}
.page__form-important {
  font-size: 18px;
  font-weight: 400;
}
.page__form-important span {
  color: #ef1847;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 500px;
  width: calc(100% - 20px);
  height: 280px;
  color: #dec07d;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.modal-content__decor {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(32, 32, 231);
}
.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.modal-content__decor::before,
.modal-content__decor::after {
  content: '';
  position: absolute;
  height: 1.5px;
  background-color: #fff;
}
.modal-content__decor::before {
  width: 12px;
  transform: rotate(45deg);
  left: 12px;
  top: calc(50% + 3px);
}
.modal-content__decor::after {
  width: 22px;
  right: 9px;
  top: 50%;
  transform: rotate(-45deg);
}
@media (max-width: 430px) {
  .page {
    padding-top: 50px;
    position: relative;
  }
  .page::before {
    content: '';
    position: absolute;
    top: -45px;
    left: 0;
    width: 129px;
    height: 228px;
    background-image: url(../images/decor.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page__video-text {
    margin-bottom: 50px;
  }
  .page__form {
    margin-bottom: 10px;
  }
  .page__form-input {
    max-width: 300px;
  }
  .page__form-important {
    font-size: 16px;
  }
}

@keyframes animate-decor {
  0% {
    transform: translateY(0px) scale(1, 1);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(0px) scale(1.1, 1.1);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(-1px) scale(1, 1);
  }
}
